<div class="container-fluid bg-dark text-light-emphasis mb-0 text-center" id="footer">
  <div class="row mb-3 py-4 row-gap-5 d-flex justify-content-evenly">
    <div class="col-sm-12 col-md-4">
      <h1 class="display-3">ARNO</h1>
      <h6 class="mb-0">Marcello Verduci 2024 &copy;</h6>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
      <h2>Contatti</h2>
      <a href="mailto:marcelloverduci@gmail.com" class="link-secondary text-decoration-none"><h6>Email</h6></a>
      <a href="https://github.com/gmverduci" class="link-secondary text-decoration-none"><h6>GitHub</h6></a>
      <a href="https://www.linkedin.com/in/gmverduci/" class="link-secondary text-decoration-none"><h6>LinkedIn</h6></a>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="img-fluid" src="../../../assets/img/orca.png" alt="">
    </div>
  </div>
</div>
