<div class="container-fluid pt-3">
  <div class="row"><h1 class="text-primary mb-0">Situazione reparto</h1></div>
  <hr class="mb-5" />
  <div class="row d-flex justify-content-start column-gap-5 row-gap-3 ps-5">
    <div class="col-12 col-md-3 d-flex justify-content-center p-0">
      <div class="card text-center text-secondary w-100 shadow rounded-5">
        <div class="card-header m-0 rounded-top-5">
          <i class="bi-people fs-5 d-inline me-2"></i>
          <h5 class="m-0 d-inline">Pazienti in reparto</h5>
        </div>
        <div class="card-body">
          <p class="card-text mb-2 fs-6">Pazienti attualmente ricoverati:</p>
          <h3 class="mb-2 text-primary display-5 fw-bold">
            <a class="text-decoration-none" href="">4</a>
          </h3>
        </div>
        <div class="card-footer small rounded-bottom-5">
          Dati aggiornati al:
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 d-flex justify-content-center p-0">
      <div class="card text-center text-secondary w-100 shadow rounded-5">
        <div class="card-header m-0 rounded-top-5">
          <i class="bi-box-arrow-in-right fs-5 d-inline me-2"></i>
          <h5 class="m-0 d-inline">In ingresso</h5>
        </div>
        <div class="card-body">
          <p class="card-text mb-2 fs-6">Ricoveri odierni:</p>
          <h3 class="mb-2 display-5 fw-bold">
            <a class="text-decoration-none text-warning" href="">4</a>
          </h3>
        </div>
        <div class="card-footer small rounded-bottom-5">
          Dati aggiornati al:
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 d-flex justify-content-center p-0">
      <div class="card text-center text-secondary w-100 shadow rounded-5">
        <div class="card-header m-0 rounded-top-5">
          <i class="bi-escape fs-5 d-inline me-2"></i>
          <h5 class="m-0 d-inline">In uscita</h5>
        </div>
        <div class="card-body">
          <p class="card-text mb-2 fs-6">Dimissioni odierne:</p>
          <h3 class="mb-2 display-5 fw-bold">
            <a class="text-decoration-none text-danger" href="">4</a>
          </h3>
        </div>
        <div class="card-footer small rounded-bottom-5">
          Dati aggiornati al:
        </div>
      </div>
    </div>
  </div>
</div>
