<nav class="navbar navbar-expand-lg bg-transparent sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex justify-content-between align-items-center" href="#">
        <img src="../../../assets/img/orca.png" alt="arno-logo" height="40px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul [ngClass]="{'hide-buttons': isScrolled}" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contatti</a>
          </li>
        </ul>
        <div [ngClass]="{'hide-buttons': isScrolled}">
            <button class="btn btn-outline-secondary me-3 shadow" routerLink="/login">Login</button>
            <button class="btn btn-outline-primary shadow" routerLink="/signup">Signup</button>
        </div>
      </div>
    </div>
  </nav>