<div class="wrapper pb-5">
    <app-navbar></app-navbar>
    <div class="container-fluid m-0 mt-3 p-0 text-center" id="main">
      <div class="container">
        <h1 class="fw-bold text-secondary title d-none d-md-block">ARNO</h1>
        <h1 class="fw-bold text-secondary d-md-none title-2">ARNO</h1>
        <h4 class="text-secondary fst-italic display-5 fw-light d-none d-md-block">
          Advanced Repository for Nursing & Operations
        </h4>
        <h4 class="text-secondary fst-italic display-5 fw-light d-md-none subtitle">
          Advanced Repository for Nursing & Operations
        </h4>
        <hr class="bg-secondary" />
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-center mt-5">
      <div class="container row p-5 bg-secondary rounded-5 shadow">
        <div class="col-md-6 d-flex justify-content-center align-items-center text-light">
          <h3 class="text-center display-5 fw-normal px-1">
            Gestione del paziente semplice, efficace e portatile.
          </h3>
        </div>
        <div class="col-md-6 d-flex justify-content-center img-1">
          <img src="../../../assets/img/home-1.png" alt="doctor" style="height: 140%" />
        </div>
      </div>
    </div>
  
    <hr class="bg-secondary mt-5">
  
    <div class="container-fluid my-3 px-5 py-2" id="about">
      <div class="row row-gap-3">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card shadow w-100">
            <img src="../../../assets/img/card5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gestione paziente</h5>
              <p class="card-text">Dati clinici, anagrafica, documenti: tutto in un unico archivio.</p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card shadow w-100">
            <img src="../../../assets/img/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consegne condivise</h5>
              <p class="card-text">Tutte le informazioni che servono, disponibili al team in tempo reale.</p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card shadow w-100">
            <img src="../../../assets/img/card4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Terapie</h5>
              <p class="card-text">Controllo privilegi e più tranquillità per voi e i vostri pazienti.</p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card shadow w-100">
            <img src="../../../assets/img/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Programmazione</h5>
              <p class="card-text">Coordinare le attività giornaliere non è mai stato così facile.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="bg-secondary">
  
    <div class="container-fluid d-flex justify-content-center mt-5">
      <div class="container row row-2 p-5 rounded-5 shadow">
        <div class="col-md-6 d-flex justify-content-center img-2 mb-5 mb-md-0">
          <img src="../../../assets/img/home-2.jpg" alt="doctor" style="height: 140%" />
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center text-light">
          <h3 class="text-center display-5 fw-normal px-1">
            Tutte le terapie, le consegne e gli ordini di servizio in un unico portale.
          </h3>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  