<div class="container-fluid h-100 wrapper">
  <div class="container-fluid wrapper-up">
    <div class="container-fluid pt-2">
      <div class="row mb-4">
        <h1 routerLink="/dashboard/consegne" class="text-secondary mb-0">
          Pazienti
        </h1>
      </div>
      <div
        class="container-fluid p-2 shadow rounded-5 bg-light-subtle w-75 float-start ms-3"
      >
        <app-lista-pazienti></app-lista-pazienti>
      </div>
    </div>
  </div>
  <hr *ngIf="user?.user?.ruolo != 'OSS'"/>
  <div *ngIf="user?.user?.ruolo != 'OSS'"
    class="container-fluid wrapper-down shadow rounded-5 p-3 px-3 bg-success-subtle mb-3"
    id="nuovoPaziente"
  >
    <app-nuovo-paziente></app-nuovo-paziente>
  </div>
  <hr *ngIf="user?.user?.ruolo != 'OSS'"/>
  <div
    class="container-fluid wrapper-down shadow rounded-5 p-3 px-3 bg-warning-subtle mb-3"
    id="modificaPaziente"
    *ngIf="pazienteSelezionato"
  >
    <app-modifica-paziente></app-modifica-paziente>
  </div>
</div>
